<mwl-demo-utils-calendar-header [(view)]="view" [(viewDate)]="viewDate">
</mwl-demo-utils-calendar-header>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
	<div class="cal-cell-top">
		<span class="cal-day-badge" *ngIf="day.badgeTotal > 0">
			{{ day.badgeTotal }}</span>
		<span class="cal-day-number">
			{{ day.date | calendarDate:'monthViewDayNumber':locale }}
		</span>
	</div>
	<small style="margin: 5px">
		{{ day.events.length }} item(s) available
	</small>
</ng-template>

<div>
	<mwl-calendar-month-view 
		[viewDate]="viewDate" [events]="events" 
		[cellTemplate]="customCellTemplate">
	</mwl-calendar-month-view>
</div>

<div class="text-center mt-5 mb-3">
	<a routerLink="" class="btn btn-info ml-2">Home</a>
</div>