<app-test-area>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A, quisquam?
</app-test-area>

<app-txt-upload></app-txt-upload>

<!-- Form Array -->
<mat-card style="margin-top: 30px;">
    <div style="margin-top: 10px;">
        <p>
          Form Array demo
          <button type="button" class="newButton btn btn-sm ml-2" (click)="newData()">
            + New Entry
        </button>
          <button type="button" class="resetButton btn btn-sm ml-2" (click)="ngOnInit()">
            - Reset
        </button>
        </p>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="transferCustomerName">
            <th mat-headr-cell *matHeaderCellDef class="pl-4">Name</th>
            <td mat-cell *matCellDef="let transferSetting">
              <mat-form-field>
                <input matInput [formControl]="transferSetting.controls.transferCustomerName" />
              </mat-form-field>
            </td>
          </ng-container>
          <ng-container matColumnDef="trnasferProdName">
            <th mat-headr-cell *matHeaderCellDef>Item</th>
            <td mat-cell *matCellDef="let transferSetting">
              <mat-form-field>
                <input matInput [formControl]="transferSetting.controls.trnasferProdName" />
              </mat-form-field>
            </td>
          </ng-container>
          <ng-container matColumnDef="transferQuantity">
            <th mat-headr-cell *matHeaderCellDef>Qty</th>
            <td mat-cell *matCellDef="let transferSetting">
              <mat-form-field>
                <input matInput [formControl]="transferSetting.controls.transferQuantity" />
              </mat-form-field>
            </td>
          </ng-container>
          <ng-container matColumnDef="transferDescription">
            <th mat-headr-cell *matHeaderCellDef>Comment</th>
            <td mat-cell *matCellDef="let transferSetting">
              <mat-form-field style="width: 350px;">
                <textarea matInput [formControl]="transferSetting.controls.transferDescription"></textarea>
              </mat-form-field>
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
</mat-card>

<style>
mat-form-field {
  padding-top: 0 !important;
  padding-left: 0 !important;
}
textarea {
  height: 50px;
}
td > mat-form-field {
  width: 80%;
}
p {
  font-weight: bold;
  color: #a8a8a8;
}
.resetButton {
    background-color: #e6b650; 
    color: white;
}
.resetButton:hover {
    background-color: wheat;
}
.newButton {
    background-color: #26c6da; 
    color: white;
}
.newButton:hover {
    background-color: #59e3f5;
}
</style>