<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
		<a href="" class="navbar-brand ml-5"><h3>Angular Test App</h3></a>

		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a routerLink="" routerLinkActive="active" href="" class="nav-link text-white"><h6>Contact Us</h6></a>
			</li>
			<li class="nav-item">
				<a routerLink="/listings" routerLinkActive="active" href="" class="nav-link text-white"><h6>Listings</h6></a>
			</li>
		</ul>
	</nav>
	<div class="container">
		<router-outlet></router-outlet>
	</div>