<div class="card border-secondary my-3">
	<div class="card-header text-white bg-secondary">
		<h5>Listings</h5>
	</div>
	<div class="card-body">
		<!-- {{ listings.length }} -->
		<ul *ngFor="let listing of listings">
			<li>
				<h5>Listing {{ listing.id }}.</h5>
				<i> by user No.{{ listing.userId }}</i> <br> 
				<b>{{ listing.title }}</b>
			</li>
			<hr>
		</ul>
	</div>
	<div class="my-1 text-center">
		<hr>
		<a routerLink="" class="btn btn-info ml-2">Home</a>
	</div>
</div>

<div class="text-center" style="color: gray;">
	<small><em>Data fetched form: <a href="https://jsonplaceholder.typicode.com/">jsonplaceholder</a></em></small>
</div>