i {
    margin-left: 3%;
}
span {
    font-size: smaller;
}
.jumbotron {
    margin: 0 auto;
    margin-top: 5%;
    width: 90%;
}
.menu {
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
}