<div class="row">
    <div class="jumbotron col-xl-8 col-lg-8 col-md-10 col-sm-10 col-xs-10">
        <h3>Angular 8 Demo App</h3>
        <address class="pb-3">
            <i>By 
                <a href="mailto:hengyu816@outlook.com">Hengyu Shi </a>
                <span>(Nay_said)</span>
            </i>
        </address>
        <hr>
        <div class="menu">
            <a routerLink="form" routerLinkActive="active" class="btn btn-info mx-2">Reactive Form</a>
            <a routerLink="listings" routerLinkActive="active" class="btn btn-info mx-2">Listings</a>
            <a routerLink="calendar" routerLinkActive="active" class="btn btn-info mx-2">Calendar</a>
            <!-- <button class="btn btn-primary mx-2">?</button> -->
        </div>
    </div>
</div>