<div class="row">
    <div class="jumbotron col-xl-8 col-lg-8 col-md-10 col-sm-10 col-xs-10">
        <h3>Welcome to Angular Demo App</h3>
        <address class="pb-3">
          <span>
                <i>By 
                    <a href="mailto:hengyu.shi@outlook.com">Hengyu Shi </a>
                    <span>('Nay_said' on GitHub)</span>
                </i>
          </span>
        </address>
        <hr>
        <div class="menu px-4">
            <div>
                <span class="pr-3" style="width: 200px;">Functional Modules</span>
                <button mat-raised-button [matMenuTriggerFor]="formsMenu" color="primary" class="mx-2">
                    Forms
                </button>
                <mat-menu #formsMenu="matMenu">
                    <span mat-menu-item routerLink="form">
                        Reactive Form
                    </span>
                    <span mat-menu-item routerLink="form">
                        Template Driven Form
                    </span>
                    <span mat-menu-item routerLink="form">
                        Form Array
                    </span>
                </mat-menu>
                <button routerLink="listings" mat-raised-button color="primary" class="mx-2">Listings</button>
                <button routerLink="calendar" mat-raised-button  color="primary" class="mx-2">Calendar</button>
                <button routerLink="playground" mat-raised-button color="primary" class="mx-2">Lab</button>
            </div>
            <div class="mt-5">
                <span class="w-25 pr-3">Abstractive Compnents</span>
                <button routerLink="dynamic-button" mat-raised-button color="primary" class="mx-2">Dynamic Button</button>
            </div>
        </div>
    </div>
</div>